__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
uv.lock
.mypy_cache/
.ruff_cache/
.pytest_cache/
.tox/
htmlcov/
.coverage
*.log
config/*
!config/configuration.yaml
.devcontainer/devcontainer-lock.json
